* {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    padding: 15px;
    flex: auto;
    display: flex;
    background-color: rgba(46, 34, 34, 0.774);
    color: cornsilk;
    text-transform: uppercase;
}

nav a {
    margin-left: 30px;
    color: cornsilk;
    text-decoration: none;
}

nav ul {
    margin-left: 700px;
    display: flex;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
}

.home {
    width: 60%;
    height: 600px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, #855c74, #8e6171, #95676e, #996e6c, #9c766c, #a8806c, #b18b6c, #b7976d, #c3aa6b, #c8c06a, #c5d76f, #b9f07b);
    align-content: center;
    padding-left: 40%;
    text-transform: uppercase;
}

.home img {
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 50%;
}

.home h1 {
    color: rgb(60, 177, 85);
    margin-top: 50px;
    margin-left: -200px;
    font-size: 50px;
    position: absolute;
    font-family: 'Lato', sans-serif;
}

.home span {
    font-size: 30px;
    margin-top: 300px;
    margin-left: -220px;
    color: cyan;
    font-family: 'Lato', sans-serif;
}

div.main {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right bottom, #97ea8c, #a2ee8a, #aef189, #b9f587, #c5f886, #cefa88, #d7fb8a, #e0fd8d, #e8fd94, #effe9b, #f5fea2, #fbffaa);
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

div.container {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

p {
    font-weight: 300;
    line-height: 28px;
    margin: 0 0 30px 0;
}

div.imag {
    height: 110px;
    width: 110px;
    background: url("https://image.flaticon.com/icons/png/512/25/25231.png");
    background-size: contain;
    background-position: center;
}

div.text-container {
    margin: 60px 45px 55px;
}

.Contact-Form {
    width: 90%;
    margin: 0 auto;
    background-image: linear-gradient(to left bottom, #d9e183, #c5e594, #b4e8a7, #a8eab9, #a1eaca, #9ae3cb, #95dbca, #92d3c9, #86c3bb, #7ab4ad, #6ea5a0, #639692);
    text-align: center;
    padding: 70px;
}

.Contact-Form h2 {
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 30px;
}

.Contact-Form p {
    color: #9999B9;
    margin-bottom: 50px;
}

.input-fields {
    width: 45%;
    float: left;
    overflow: hidden;
    margin-right: 30px;
    margin-top: 50px;
}

.input-fields input {
    width: 354px;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 3px;
}

.msg {
    width: 45%;
    overflow: hidden;
    margin-top: 70px;
}

.msg textarea {
    width: 354px;
    padding: 10px 20px;
    margin-bottom: 20px;
    height: 160px;
    border: 0;
    border-radius: 3px;
    resize: none;
}

.Contact-Form button {
    padding: 15px 20px;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid green;
    background: blue;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 40px;
    margin-top: 15px;
}

.Contact-Form button:hover {
    border: 1px solid blue;
    background: none;
}

.details {
    width: 300px;
    height: 150px;
    color: black;
    padding: 10px;
    float: left;
    background-image: linear-gradient(to right top, #d9e183, #c5e594, #b4e8a7, #a8eab9, #a1eaca, #9ae3cb, #95dbca, #92d3c9, #86c3bb, #7ab4ad, #6ea5a0, #639692);
    overflow: hidden;
    margin-right: 45%;
    margin-top: 100px;
    border-radius: 3px;
    margin-bottom: 50px;
}

.details:last-child {
    margin-right: 0;
}

.details h3 {
    padding-top: 30px;
    font-size: 16px;
    color: black;
    font-style: normal;
    margin-left: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: left;
}

.details p {
    font-size: 13px;
    font-family: Arial;
    color: black;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 2px;
}

footer {
    background-color: rgba(46, 34, 34, 0.774);
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 250px;
    color: white;
    text-align: center
}